@media (min-width: 768px) {
    .img-thumbnail {
        margin: 30px;
    }

    .col-md-12 {
        padding-left: 0;
    }

    .modal-dialog .col-md-12 {
        padding-left: 15px;
    }
    .star {
        font-size:200%;
    }
}
.star {
    color : #EAE9E6;
}
h4 {
    margin: 2px;
}

.btn-datcho {
    width: 100%;
    background-color: #28902b;
    border-color: #28902b;
    color: #ffeb00;
}

.col-md-12 > input, .col-md-12 > textarea {
    border-radius: 3px;
}

.modalheader {
    background: #ffb000;
    color: white;
}

.btn-tlai {
    position: fixed;
    bottom: 20px;
    right: 61px;
}