*{ 
	box-sizing:bodeer-box;
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #693a00;
}
.tatca {
	background-color: #504100;
	margin: auto;
	width: 1000px	
}
#bn img {
	width: 1000px;
	height: 300px;
	border-bottom: 1px solid #ff8e03;
}
#bn {
	height: 300px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color:#e2cf77;
}
a:hover {
	color: red;
}
.all{ 
	width: 1000px; 
	height: 41px; 
}
.main_menu>ul>li{ 

	width: 145px;
	text-transform: capitalize;
	text-align: center;
	float: left;
	padding: 11px 27px;
	position: relative; 
	border-right: 1px dotted #ff8e03;
	border-bottom: 1px solid #ff8e03;
}
.main_menu>ul>li:last-child{
	border-right: none;
}
.main_menu>ul>li>ul{ 
	display: none; 
	position: absolute; 
	background:#cd6730;
	top: 41px;
	width: 198px; 
	left: 0px;
}
.main_menu>ul>li:hover ul{ 
	display: block;
}
.main_menu ul li:hover{ 
	background:#d58400; 
	transition: all 0.25s;
}
.main_menu>ul>li>ul>li{
	padding: 5px 10px;
}
.main_menu>ul>li>ul>li{ 
	border-bottom: 1px dotted #ACACAC;
}
.left {
	width: 150px;
	height: 350px;
} 
.left>li {
	margin-right:45px;
	margin-top: 5px;
	border-bottom: 1px dotted #ff8e03;
}
.left>li:hover {
	background:#d58400; 
	transition: all 0.25s;
}
.danhsach {
	border-right: 1px solid #ff8e03;
	background-color: #504100;
	text-transform: capitalize;
	float: left;
	width: 149px;
	height: 750px;
}
.danhsach li {
	margin-left: 15px;
}
.qc {
	border: 1px solid #ff8e03;
	height: 300px;
	margin: 0px 10px 0px 10px;
}
.rigth {
	background-color: #504100;
	width: 850px;
	height: 750px;
	float: right;
}
.menu-kv {
	margin-left: 20px;
	margin-top:40px;
	width:400px;
	height: 114px;
	float:left;
	border-bottom: 1px solid #ff8e03;
}
h4 {
	text-transform: capitalize;
	color: #fecf00;
}
h3 {
	color: #fecf00;
}
h2 {
	color: #fecf00;
	margin-top: 10px;
	margin-left:20px;
}
.menu-kv img {
	margin-right: 10px;
	float: left;
	padding: 2px;
	border-radius: 10px;
}
.menu-kv a {
	text-decoration: underline;
	text-transform: capitalize;
	color: #eecc2e;
}
p {
	text-align: justify;
	color:  #e2cf77;
}
.bottom {
	background-color: #504100;
	width: 1000px;
	height:50px;
	float: left;
	border-top: 1px solid #ff8e03;
	border-bottom: 1px solid #ff8e03;
}
.ct {
	margin-top: 30px;
	margin-left: 20px; 
	width: 800px;
	float: left;
	
}
.ct img {
	float: left;
	margin-right: 10px; 
}
.ttct {
	margin-left: 20px; 
	width: 800px;
	float: left;
}
.ttct h4 {
	line-height: 30px;
}
i {
	line-height: 30px;
}
.backbutton a img {
	width: 53px;
	border-radius: 50%;
}
.backbutton {
	width: 53px;
	float: right;
	margin-right: 50px;
}
.tt1 {
	background-color: #504100;
	width: 1000px;
	height: 1000px;
	float: right;
}
#gt {
	margin-top: 20px; 
	margin-left:75px;
	width: 850px;
	border-bottom: 1px solid #ff8e03;
	line-height: 20px;
}
.gt1 {
	margin-top: 60px;
	margin-left: 13px;
	width: 480px;
    height: 200px;
    float: left;
}
.gt1 img {
	float: left;
	width: 300px;
	height: 200px;
	margin-right: 10px;

}
.gt1 a {
	text-decoration: underline;
	text-transform: capitalize;
	color: #eecc2e;
}

.gt1 p {
	margin-top: 10px;
	text-transform: none;
}
